@import "~bootstrap/dist/css/bootstrap.min.css";
img {
  width: 500px;

  height: 300px;
}
.loader {
  width: 60px;
  height: 30px;
  border: 4px solid #db3434;
  border-radius: 50px;
  position: relative;
  animation: spin 2s linear infinite;
}

.loader {
  width: 120px;
  height: 120px;
  position: relative;
}

.loader__inner {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 50%;
  animation: pulse 1.5s ease-in-out infinite;
}

.loader__outer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("https://www.nasa.gov/sites/default/files/thumbnails/image/nasa-logo-web-rgb.png");
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  animation: spin 3s linear infinite;
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(0.8);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
